.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 500px;
  overflow: hidden; /* will contain if #first is longer than #second */
  margin-left: auto;
  margin-right: auto;
}
.first {
  width: 300px;
  float:left; /* add this */
}
.second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

.divider{
  width:5px;
  height:35px;
  display:inline-block;
}

.inpt-group input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-group button {
  background-color: blue; /* Green background */
  border: 1px solid blaxk; /* Green border */
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 8%;
  display: block;
  margin: 0 auto;
  display: block;
}
