.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-group button {
  background-color: #073763; /* Green background */
  border: 1px solid #073763; /* Green border */
  color: white;
  padding: 20px 30px;
  cursor: pointer;
  width: 50%;
  display: block;
  margin: 0 auto;
  display: block;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}


.btn-group button:hover {
  background-color: #6FA8DC;
}

.btn-group2 button {
  background-color: red; /* Green background */
  border: 1px solid blaxk; /* Green border */
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 8%;
  display: block;
  margin: 0 auto;
  display: block;
}

.btn-group2 button:not(:last-child) {
  border-bottom: none;
}


.btn-group2 button:hover {
  background-color: #6FA8DC;
}

.divider{
  width:5px;
  height:35px;
  display:inline-block;
}

.wrapper {
  width: 500px;
  overflow: hidden; /* will contain if #first is longer than #second */
  margin-left: auto;
  margin-right: auto;
}
.first {
  width: 300px;
  float:left; /* add this */
}
.second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}